html, body {
    margin: auto;
    width: auto;
    height: auto;
    text-align:center;
    background: #111111;
    font-family: monospace;
}

.question {
    color: #1c1c1c;
    font-size: 16px;
    margin: 10px;
    padding:30px;
    width:20%;
    height: auto;
}

.button {
    background: #222222;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.answer {
    display:inline-block;
    text-align:center;
    color: #f0ab3d;
    font-size: 18px;
    margin: 10px;
    padding:30px;
    width:30%;
    height: auto;
}